@CHARSET "ISO-8859-1";
/*----------------------------------------------------------------------------------------------
Font Colors
----------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------
Header Colors
----------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------
Colors
----------------------------------------------------------------------------------------------*/
.accent-1-dark { color: #545648 }
.accent-1-light { color: #898e77 }
.accent-2-dark { color: #77693d }
.accent-2-light { color: #b1a06a }
.accent-3-dark { color: #838c5e }
.accent-3-light { color: #b2b998 }
.accent-4-dark { color: #5e8286 }
.accent-4-light { color: #95b1b5 }

/*----------------------------------------------------------------------------------------------
Links
----------------------------------------------------------------------------------------------*/
.link {
    cursor: pointer;
    color: #0099cc;
}

/*----------------------------------------------------------------------------------------------
Divs
----------------------------------------------------------------------------------------------*/
/* line 4, ../../../sass/common/_div.scss */
div.dark {
  background-color: #1d1d1d;
  color: #fafafa;
}

/* line 12, ../../../sass/common/_div.scss */
div.light {
  background-color: #fafafa;
  color: #333333;
}

body, html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #333333;
}
